@import "src/@fuse/scss/fuse";

downtime {
  #view-main {
    width: 100%;
    //background-color: whitesmoke;

    .full-container {
      width: 100%;

      .content {
        border: 1.5px 0px 0px 0px solid #cdd0d2;
        width: 100%;
        height: 100%;
        display: flex;
        flex: 0 1 auto;
        height: calc(100vh - 120px);
        overflow: auto;
        background-color: white;

        @include media-breakpoint(gt-sm) {
            @include mat-elevation(1);
        }

        .content-header {
          padding: 0rem 0rem 0rem 1rem;
          border-bottom: 1px solid #cdd0d2;
          height: auto !important;
          min-height: 80px;
          max-height: 80px;

          .title {

            .title-details {
                font-size: 15px;
                font-weight: bold;
                font-style: italic;
            }
          }

          .action-header {

            .search-wrapper {
              width: 100%;
              max-width: 350px;
              height: 40px;
              margin-right: 10px;
              border-radius: 28px;
              border-top: 1px solid #cdd0d2;
              border-left: 1px solid #cdd0d2;
              border-right: 1px solid #cdd0d2;
              overflow: hidden;
              background-color: white;
              
              @include media-breakpoint(gt-sm) {
                @include mat-elevation(1);
              }

              .search {
                  
                input {
                  width: 100%;
                  height: 38px;
                  min-height: 38px;
                   max-height: 38px;
                  padding: 0 15px;
                  border: none;
                  outline: none;
                  font-size: 11px;
                  margin-right: 10px;
                  border-right: 1px solid #cdd0d2;
                }

                mat-icon {
                  margin-right: 10px;
                }
              }
            }

            .margin-export {
              padding: 1rem 0px 1rem 0px;
              border-left: 1px solid #cdd0d2;
              cursor: pointer;

              .span-text {
                font-size: 9px;
              }
            }

            .margin-delete {
              padding: 1rem 0px 1rem 0px;
              border-left: 1px solid #cdd0d2;
              cursor: pointer;

              .span-text {
                font-size: 9px;
              }
            }

            .margin-add {
              padding: 1rem 3px 1rem 3px;
              border-left: 1px solid #cdd0d2;
              cursor: pointer;

              .span-text {
                font-size: 9px;
              }
            }
          }
        }

        /* Structure */
        .content-body {
          position: relative;
          width: 100%;
        }
        
        .content-table-container {
          position: relative;
          width: 100%;
        }
        
        mat-table {
          width: 100%;
          height: calc(100vh - 274px);
          overflow: auto;
        }

        // .mat-header-row {
        //     min-height: 50px;
        //     min-width: 1200px;
        //     width: 100%;
        // }

        .mat-row {
          position: relative;
          cursor: pointer;
          min-height: 35px;
          // min-width: 1200px;
          // width: 100%;
        }

        .mat-cell {
          min-width: 0;
          display: flex;
          font-size: 10px;
        }

        // .mat-header-cell {
        //     font-size: 11px;
        //     font-weight: bold;
        // }

        .mat-paginator {
          border: 1px solid #cdd0d2;
        }

        /* Column Widths */
        .mat-column-checkbox {
          flex: 0 1 50px;
          justify-content: left;
          padding-right: 10px;
        }

        .mat-column-id {
          flex: 0 1 40px;
        }

        .mat-column-classification {
          flex: 0 1 170px;
          padding-left: 20px;
        }

        .mat-column-description {
          flex: 0 1 550px;
        }

        .mat-column-accountability {
          flex: 0 1 140px;
        }

        .mat-column-createdDateTime {
          flex: 0 1 130px;
        }

        .mat-column-actions {
          justify-content: flex-end;
        }

        .btn-remove {
          color: red;
          cursor: pointer;
        }

        .btn-edit{
          color: darkolivegreen;
          cursor: pointer;
        }

      }
    }
  }
}

