
<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="dialog-header mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start">
                <span class="title dialog-title"> LINE 1 ADD FORM </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="end">
                <button
                    mat-icon-button
                    (click)="onCloseClick()"
                    aria-label="Close dialog"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="dialog-content m-6">
        <form [formGroup]="postDataForm" (ngSubmit)="onSubmit()">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <!-- <mat-form-field class="mat-form-size pr-2" fxFlex="25">
                    <mat-label>SKU</mat-label>
                    <mat-select
                        [(ngModel)]="productId"
                        formControlName="sku"
                        (selectionChange)="onProductSelectionChange(productId)"
                        required
                    >
                        <mat-option
                            *ngFor="let options of productModel" 
                            [value]="options.id"
                        > {{ options.code }}
                        </mat-option>
                    </mat-select>
                    <mat-error>Please select SKU - error!</mat-error>
                </mat-form-field> -->

                <mat-form-field class="mat-form-size pr-2" fxFlex="25" [class.hidden]="!showHide">
                    <mat-label>Planned ID</mat-label>
                    <input
                        matInput
                        formControlName="planningId"
                        [(ngModel)]="planningById"
                        [readonly]="true"
                        required
                    />
                </mat-form-field>

                <mat-form-field class="mat-form-size pr-2" fxFlex="25">
                    <mat-label>SKU</mat-label>
                    <mat-select
                        [(ngModel)]="productId"
                        formControlName="sku"
                        (selectionChange)="onProductSelectionChange(productId)"
                        required
                    >
                        <mat-select-filter 
                            [placeholder]="'Search SKU'" 
                            [displayMember]="'code'" 
                            [array]="productionOptions" 
                            (filteredReturn)="productList =$event"
                        ></mat-select-filter>
                        <mat-option [value]=""> None</mat-option>
                        <mat-option
                            *ngFor="let options of productList"
                            [value]="options.id"
                        >
                            {{ options.code }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mat-form-size pr-2" fxFlex="25" [class.hidden]="!showHide">
                    <mat-label>SKU Code</mat-label>
                    <input
                        matInput
                        formControlName="skuCode"
                        [(ngModel)]="skuCode"
                        [readonly]="true"
                        required
                    />
                    <mat-icon matSuffix class="secondary-text">money</mat-icon>
                </mat-form-field>
                

                <mat-form-field class="mat-form-size" fxFlex="75">
                    <mat-label>Description</mat-label>
                    <input
                        matInput
                        formControlName="description"
                        [(ngModel)]="description"
                        [readonly]="true"
                        required
                    />
                    <mat-icon matSuffix class="secondary-text">money</mat-icon>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field class="mat-form-size pr-2" fxFlex="25">
                    <mat-label>Form</mat-label>
                    <input
                        matInput
                        formControlName="form"
                        required
                    />
                    <mat-icon matSuffix class="secondary-text">money</mat-icon>
                </mat-form-field>

                <mat-form-field class="mat-form-size pr-2" fxFlex="19">
                    <mat-label>MT</mat-label>
                    <input
                        matInput
                        type="number"
                        formControlName="mt"
                        required
                    />
                </mat-form-field>

                <mat-form-field class="mat-form-size pr-2" fxFlex="19">
                    <mat-label>Actual</mat-label>
                    <input
                        matInput
                        type="number"
                        formControlName="actualHours"
                    />
                </mat-form-field>

                <mat-form-field class="mat-form-size pr-2" fxFlex="19">
                    <mat-label>Effective Capacity</mat-label>
                    <input
                        matInput
                        formControlName="effectiveCapacity"
                        required
                    />
                    <mat-icon matSuffix class="secondary-text">money</mat-icon>
                </mat-form-field>

                <mat-form-field class="mat-form-size" fxFlex="18">
                    <mat-label>DieSize Thickness</mat-label>
                    <input
                        matInput
                        type="number"
                        formControlName="dieSizeThickness"
                        required
                    />
                </mat-form-field>
            </div>

            <div class="class-divider" fxLayout="row" fxLayoutAlign="space-between">
                <span>Delay - Time </span>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field class="mat-form-size pr-2" fxFlex="25">
                    <mat-label>Change Over</mat-label>
                    <input
                        matInput
                        formControlName="changeOver"
                    />
                    <mat-icon matSuffix class="secondary-text">money</mat-icon>
                </mat-form-field>

                <mat-form-field class="mat-form-size pr-2" fxFlex="25">
                    <mat-label>Uncontrollable</mat-label>
                    <input
                        matInput
                        formControlName="uncontrollable"
                    />
                    <mat-icon matSuffix class="secondary-text">money</mat-icon>
                </mat-form-field>

                <mat-form-field class="mat-form-size pr-2" fxFlex="25">
                    <mat-label>Cargill</mat-label>
                    <input
                        matInput
                        formControlName="accountability"
                    />
                    <mat-icon matSuffix class="secondary-text">money</mat-icon>
                </mat-form-field>

                <mat-form-field class="mat-form-size" fxFlex="25">
                    <mat-label>SFC</mat-label>
                    <input
                        matInput
                        formControlName="delayStatus"
                    />
                    <mat-icon matSuffix class="secondary-text">money</mat-icon>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field class="mat-form-size pr-2" fxFlex="25">
                    <mat-label>Time to Produce</mat-label>
                    <input
                        matInput
                        formControlName="timeProduce"
                    />
                    <mat-icon matSuffix class="secondary-text">money</mat-icon>
                </mat-form-field>
                
                <mat-form-field class="mat-form-size" fxFlex="75">
                    <mat-label>Remarks</mat-label>
                    <input
                        matInput
                        formControlName="remarks"
                    />
                    <mat-icon matSuffix class="secondary-text">money</mat-icon>
                    <!-- <textarea 
                        matInput
                        formControlName="remarks"
                        rows="4"
                    ></textarea> -->
                </mat-form-field>
            </div>
    
            <div fxLayout="row" fxLayoutAlign="end center">
                <button
                    mat-raised-button
                    type="submit" 
                    [disabled]="postDataForm.invalid"
                    color="accent"
                >
                    <mat-icon>save</mat-icon>
                    <span class="btn-label"> Save </span>
                </button>
            </div>
        </form>
    </div>
</div>
